@import "../../../scss/variables";

.mainChild {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 0;
  left: -100vw;
  padding: 0 100px;

  .mainImgWrapper {
    height: 100%;

    img {
      width: auto;
      max-height: 100%;
    }
  }

  .childContentWrapper {
    padding-left: 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;

    .icon01Wrapper {
      position: relative;
      top: 0;
      left: 0;
      width: 0;
      height: 0;

      img {
        position: absolute;
        top: -95px;
        left: -140px;
      }
    }

    .h2Wrapper {
      h2 {
        margin: 30px 0;
      }
    }

    .h4Wrapper {
      display: flex;
      align-items: center;

      .line {
        width: 72px;
        height: 2px;
        background: $colorYellow;
        margin-right: 20px;
      }
    }

    .readMoreWrapper {
      display: flex;
      align-items: center;

      img {
        cursor: pointer;
      }

      p {
        margin-right: 20px;

      }
    }

    .readMoreContent {
      width: 95%;
      height: 0;
      padding-right: 50px;
      overflow: auto;
    }
  }
}

.secondChild {
  flex-direction: row-reverse;
  top: 800px;
  left: 100vw;

  .childContentWrapper {
    align-items: flex-end;
    padding: 0 100px 0 0;
  }
}

.thirdChild {
  top: 1600px;
}

@media screen and (max-width: 1440px) {
  .mainChild {
    padding: 0 20px;

    .childContentWrapper {
      padding-left: 20px;
      justify-content: flex-start;

      .icon01Wrapper {
        width: 100%;

        img {
          top: 0;
          left: 50%;
          transform: translate(-50%);
          max-width: 215px;
          min-width: 90px;
          width: 10vw;
        }
      }

      .h4Wrapper h4 {
        margin: 0;
      }

      .h2Wrapper h2 {
        line-height: 4vw;
        margin: 2vw 0;
      }
    }
  }

  .secondChild {
    .childContentWrapper {
      align-items: flex-end;
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .mainChild {
    height: 60vh;
  }
}

@media screen and (max-width: 1024px) {
  .secondChild {
    .mainImgWrapper {
      height: 100%;

      img {
        width: 490px;
        height: 708px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mainChild {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 20px;

    .mainImgWrapper {
      max-height: calc(100% - 40px);
      padding-bottom: 15px;
      display: flex;

      img {
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
    }
  }

  .secondChild {
    .mainImgWrapper {
      height: 100%;

      img {
        width: auto;
        max-height: 100%;
      }
    }

    .childContentWrapper {
      .readMoreWrapper {
        align-self: flex-start;
      }

      .h4Wrapper {
        align-self: flex-start;
      }
    }
  }
}

@media screen and (max-height: 600px) {
  .mainChild {
    .childContentWrapper {
      .h4Wrapper h4 {
        line-height: 3.2vh;
        font-size: 3vh;
      }

      .h2Wrapper {
        h2 {
          line-height: 4vh;
          font-size: 3.5vh;
          margin: 2vw 0;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

  .secondChild {
    flex-direction: row-reverse;
    top: 800px;
    left: 100vw;

    .childContentWrapper {
      align-items: flex-end;
      padding: 0 0 0 20px;
    }
  }
}
